<section class="work-process-two">
  <div class="work-process-two__bg"
      style="background-image: url(assets/img/background/work-process-v2-bg.jpg);"></div>
  <div class="container">
      <div class="sec-title-style3 text-center">
          <div class="sub-title center">
              <div class="icon">
                  <img src="assets/img/icon/title-marker.png" alt="">
              </div>
              <h5> LOJİSTİK VE DEPOLAMA BİZİM İŞİMİZ.</h5>
          </div>
          <h2>KLC Lojistik, Siz Isteyin Biz Gerçekleştirelim.</h2>
      </div>
      <div class="row">
          <!--Start Work process Two Single-->
          <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
              <div class="work-process-two__single">
                  <div class="shape1"><img src="assets/img/shape/work-process-v2-shape1.png" alt=""></div>
                  <div class="work-process-two__single-icon">
                      <div class="inner">
                          <span class="icon-enter-product-details"></span>
                      </div>
                  </div>

                  <div class="work-process-two__single-text">
                      <h3>TAŞIMACILIK HIZMETLERI </h3>
                      <p>KLC Lojistik olarak sunulan taşımacılık hizmetleri, geniş bir yelpazede müşteri
                          ihtiyaçlarına cevap verir. Hava taşımacılığı, deniz taşımacılığı, demiryolu
                          taşımacılığı ve kara taşımacılığı alanlarında uzmanlaşmış bir ekibimizle, güvenilir,
                          hızlı ve maliyet-etkin taşıma çözümleri sunuyoruz.</p>
                  </div>
              </div>
          </div>
          <!--End Work process Two Single-->

          <!--Start Work process Two Single-->
          <div class="col-xl-4 col-lg-4 wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
              <div class="work-process-two__single">
                  <div class="shape1"><img src="assets/img/shape/work-process-v2-shape1.png" alt=""></div>
                  <div class="work-process-two__single-icon">
                      <div class="inner">
                          <span class="icon-pay-your-service-tag"></span>
                      </div>
                  </div>

                  <div class="work-process-two__single-text">
                      <h3>Dağıtım Hizmetleri</h3>
                      <p>KLC Lojistik olarak, müşterilerimizin ürünlerini hedef noktalara güvenilir bir
                          şekilde ulaştırmak üzere çeşitli dağıtım hizmetleri sunuyoruz. Geniş ağımız, etkili
                          lojistik planlama ve modern taşıma araçları ile müşterilerimizin taleplerini
                          zamanında karşılamak için çaba sarf ediyoruz.</p>
                  </div>
              </div>
          </div>
          <!--End Work process Two Single-->

          <!--Start Work process Two Single-->
          <div class="col-xl-4 col-lg-4 wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
              <div class="work-process-two__single">
                  <div class="work-process-two__single-icon">
                      <div class="inner">
                          <span class="icon-road-transport t5"></span>
                      </div>
                  </div>

                  <div class="work-process-two__single-text">
                      <h3>Depolama Hizmetleri</h3>
                      <p>KLC Lojistik olarak sunduğumuz depolama hizmetleri, müşterilerimize güvenli, düzenli
                          ve etkili depolama çözümleri sunmayı amaçlar. Modern depolama tesislerimiz, son
                          teknoloji güvenlik sistemleri ile donatılmış olup, ürünlerinizin korunması ve
                          yönetilmesi konusunda üst düzey bir performans sağlar. </p>
                  </div>
              </div>
          </div>
          <!--End Work process Two Single-->
      </div>
  </div>
</section>
