<footer class="footer-one footer-one--two style3">
  <div class="footer-one__bg" style="background-image: url(assets/img/footer/footer-v2-bg.jpg);"></div>
  <div class="shape2 float-bob-y"><img src="assets/img/shape/footer-v2-shape2.png" alt=""></div>
  <!-- Start Footer Main -->
  <div class="footer-main">
      <div class="container">
          <div class="footer-main__bottom">
              <div class="row">
                  <!--Start Single Footer Widget-->
                  <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".1s">
                      <div class="single-footer-widget footer-widget__about">
                          <div class="logo-box">
                              <a href="index.html"><img style="width: 250px;height: 130px; object-fit: cover;"
                                      src="assets/img/logo.jpg" alt=""></a>
                          </div>
                          <div class="footer-widget__about-inner">
                              <div class="footer-widget__contact-box">
                                  <ul>
                                      <li>
                                          <div class="icon-box">
                                              <span class="icon-pin"></span>
                                          </div>

                                          <div class="content-box">
                                              <p>Adresimiz</p>
                                              <h4>Gürpınar Mahallesi 7004/5 Sokak No:7 35060 Bornova/İzmir
                                              </h4>
                                          </div>
                                      </li>

                                      <li>
                                          <div class="icon-box">
                                              <span class="icon-paper-plane"></span>
                                          </div>

                                          <div class="content-box">
                                              <p>Email</p>
                                              <h4><a href="mailto:yourmail@email.com">Support@example.com</a>
                                              </h4>
                                          </div>
                                      </li>

                                      <li>
                                          <div class="icon-box">
                                              <span class="icon-out-call"></span>
                                          </div>

                                          <div class="content-box">
                                              <p>Telefon Numarası</p>
                                              <h4><a href="tel:123456789">+90 505 440 17 06</a></h4>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Single Footer Widget-->

                  <!--Start Single Footer Widget-->
                  <div class="col-xl-2 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                      <div class="single-footer-widget footer-widget__links">
                          <div class="title">
                              <h2>Hızlı Linkler</h2>
                          </div>

                          <div class="footer-widget__links-box">
                              <ul>
                                  <li><a href="hakkimizda.html">Misyon & Vizyon</a></li>
                                  <li><a href="fiyatlandirma.html">Fiyatlandırma Planı</a></li>
                                  <li><a href="ekibimiz.html">Ekibimizle Tanışın</a></li>
                                  <li><a href="referanslarimiz.html">Müşterilerimiz</a></li>
                                  <li><a href="kariyer.html">Mevcut Pozisyonlar</a></li>
                                  <li><a href="basvuru.html">İş Başvurusu</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!--End Single Footer Widget-->

                  <!--Start Single Footer Widget-->
                  <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                      <div class="single-footer-widget footer-widget__links services">
                          <div class="title">
                              <h2>Hizmetlerimiz</h2>
                          </div>

                          <div class="footer-widget__links-box">
                              <ul>
                                  <li><a href="hava-tasimaciligi.html">Hava Taşımacılığı</a></li>
                                  <li><a href="deniz-tasimaciligi.html">Deniz Taşımacılığı</a></li>
                                  <li><a href="demiryolu-tasimaciligi.html">Demiryolu Taşımacılığı</a></li>
                                  <li><a href="depo-hizmetleri.html">Depolama</a></li>
                                  <li><a href="pakolama-hizmetleri.html">Paketleme</a></li>
                                  <li><a href="dagitim-hizmetleri.html">Dağıtım</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!--End Single Footer Widget-->

                  <!--Start Single Footer Widget-->
                  <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                      <div class="single-footer-widget single-footer__newsletter">
                          <div class="title">
                              <h2>Bülten</h2>
                          </div>
                          <div class="single-footer__newsletter-box">
                              <div class="single-footer__newsletter-text1">
                                  <p>Haftalık bültenimize abone olarak bilgi ve promosyon alabilirsiniz.</p>
                              </div>
                              <form class="single-footer__newsletter-form">
                                  <div class="single-footer__newsletter-form-input">
                                      <input type="email" placeholder="Mail Adresiniz..." name="email">
                                  </div>

                                  <div class="single-footer__newsletter-btn">
                                      <button class="thm-btn" type="submit">
                                          <span class="txt">Abone Ol</span>
                                          <i class="icon-right-arrow"></i>
                                      </button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  <!--End Single Footer Widget-->
              </div>
          </div>
      </div>
  </div>
  <!-- End Footer Main -->

  <!--Start Footer Bottom -->
  <div class="footer-bottom">
      <div class="container">
          <div class="footer-bottom__inner">
              <div class="copyright-text">
                  <p>© 2023 <a href="index.html">KarenSoftware,</a> Tüm Hakları Saklıdır.</p>
              </div>
              <div class="copyright-menu">
                  <a href="#"><span class="icon-facebook"></span></a>
                  <a href="#"><span class="icon-twitter"></span></a>
                  <a href="#"><span class="icon-instagram"></span></a>
                  <a href="#"><span class="icon-linkedin"></span></a>
              </div>
              <div class="copyright-menu"></div>
          </div>
      </div>
  </div>
  <!--End Footer Bottom -->
</footer>
