<header class="main-header main-header-three">
  <div id="sticky-header" class="menu-area">
      <div class="menu-area__inner">
          <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
          <div class="menu-wrap">
              <nav class="menu-nav">
                  <div class="container">
                      <div class="main-header-three__inner">
                          <div class="logo-box-three">
                              <a href="#"><img class="logo-1" src="assets/img/logo.jpg" alt="Logo"></a>
                          </div>

                          <div class="main-header-three__top">
                              <div class="main-header-three__top-pattern"
                                  style="background-image: url(assets/img/pattern/header-v3-pattern.png);">
                              </div>
                              <div class="main-header-three__top-inner">
                                  <div class="main-header-three__top-left">
                                      <div class="header-contact-info-style2">
                                          <ul class="clearfix">
                                              <li>
                                                  <div class="icon-box">
                                                      <span class="icon-pin"></span>
                                                  </div>
                                                  <div class="text-box">
                                                      <p>Adres</p>
                                                      <h4>Gürpınar Mahallesi 7004/5 Sokak No:7 35060
                                                          Bornova/İzmir
                                                      </h4>
                                                  </div>
                                              </li>

                                              <li>
                                                  <div class="icon-box">
                                                      <span class="icon-paper-plane"></span>
                                                  </div>
                                                  <div class="text-box">
                                                      <p>Email</p>
                                                      <h4>
                                                          <a href="mailto:yourmail@email.com">
                                                              kudret@klclogistic.com
                                                          </a>
                                                      </h4>
                                                  </div>
                                              </li>

                                              <li>
                                                  <div class="icon-box">
                                                      <span class="icon-out-call"></span>
                                                  </div>
                                                  <div class="text-box">
                                                      <p>Telefon</p>
                                                      <h4><a href="tel:123456789">
                                                              +90 505 440 17 06</a></h4>
                                                  </div>
                                              </li>
                                          </ul>
                                      </div>
                                  </div>

                                  <div class="main-header-three__top-right">
                                      <div class="title">
                                          <p>Sosyal Medya Hesaplarımız</p>
                                      </div>
                                      <div class="social-links">
                                          <a href="#"><span class="icon-facebook"></span></a>
                                          <a href="#"><span class="icon-twitter"></span></a>
                                          <a href="#"><span class="icon-instagram"></span></a>
                                          <a href="#"><span class="icon-linkedin"></span></a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <div class="main-header-three__bottom clearfix">
                              <div class="main-header-three__bottom-left">
                                  <div class="navbar-wrap main-menu">
                                      <ul class="navigation">
                                          <li class="active"><a href="#">Anasayfa</a>

                                          </li>
                                          <li><a href="#">Hakkımızda</a></li>
                                          <li class="menu-item-has-children"><a href="#">Hizmetlerimiz</a>
                                              <ul class="sub-menu">
                                                  <li><a href="#">Denizyolu
                                                          Taşımacılığı</a></li>
                                                  <li><a href="#">Karayolu
                                                          Taşımacılığı</a></li>
                                                  <li><a href="#">Havayolu
                                                          Taşımacılığı</a></li>
                                                  <li><a href="#">Kombine Taşımacılık</a>
                                                  </li>
                                                  <li><a href="#">Mikro
                                                          Taşımacılık</a>
                                                  </li>
                                                  <li><a href="#">Franchise
                                                          Taşımacılık</a>
                                                  </li>
                                                  <li><a href="#">Parsiyel
                                                          Taşımacılık</a></li>
                                                  <li><a href="#">Depolama
                                                          Hizmeti</a>
                                                  </li>
                                                  <li><a href="#">Proje
                                                          Taşımacılık</a>
                                                  </li>
                                                  <li><a href="#">Depolama</a>
                                                  </li>
                                              </ul>
                                          </li>
                                          <!-- <li class="menu-item-has-children"><a href="#">Pages</a>
                                              <ul class="sub-menu">
                                                  <li><a href="team.html">Team</a></li>
                                                  <li><a href="team-details.html">Team Details</a>
                                                  </li>
                                                  <li><a href="projects.html">Projects</a></li>
                                                  <li><a href="project-details.html">Project
                                                          Details</a></li>
                                                  <li><a href="error.html">404</a></li>
                                              </ul>
                                          </li> -->
                                          <li><a href="#">Blog</a>

                                          </li>
                                          <li><a href="#">İletişim</a></li>
                                      </ul>
                                  </div>
                              </div>

                              <div class="main-header-three__bottom-right">
                                  <div class="btn-box">
                                      <a class="thm-btn" href="#">
                                          <span class="txt">Ücretsiz Teklif Alın</span>
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </nav>
          </div>
      </div>

      <!-- Mobile Menu  -->
      <div class="mobile-menu">
          <nav class="menu-box">
              <div class="close-btn"><i class="fas fa-times"></i></div>
              <div class="nav-logo">
                  <a href="index.html"><img src="assets/img/logo.jpg" alt="Logo"></a>
              </div>
              <div class="menu-outer">
                  <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
              </div>
              <div class="contact-info">
                  <div class="icon-box"><span class="icon-telephone-handle-silhouette"></span></div>
                  <p><a href="tel:123456789"> +90 505 440 17 06</a></p>
              </div>
              <div class="social-links">
                  <ul class="clearfix list-wrap">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                  </ul>
              </div>
          </nav>
      </div>
      <div class="menu-backdrop"></div>
      <!-- End Mobile Menu -->
  </div>
</header>
