<section class="faq-three">
  <div class="container">
      <div class="faq-three__top">
          <div class="sec-title-style3">
              <div class="sub-title">
                  <div class="icon">
                      <img src="assets/img/icon/title-marker-4.png" alt="">
                  </div>
                  <h5>Faq</h5>
              </div>
              <h2>Soru & Cevap</h2>
          </div>

          <div class="btn-box">
              <a class="thm-btn" href="#">
                  <span class="txt">Herhangi Bir Sorunuz Var mı?</span>
              </a>
          </div>
      </div>


      <div class="row">
          <!--Start Faq Three Faq-->
          <div class="col-12">
              <div class="faq-three__faq" style="max-width: 100%;">
                  <ul class="accrodion-grp faq-one__accrodion" data-grp-name="faq-one-accrodion">
                      <!-- Start Faq One Single-->
                      <li class="accrodion active">
                          <div class="accrodion-title">
                              <h2><span>01.</span> Lojistik hizmetleriniz için nasıl ödeme yapabilirim?</h2>
                          </div>
                          <div class="accrodion-content">
                              <div class="inner">
                                  <span>Cevabımız:</span>
                                  <p>KLC Lojistik'ten alınan lojistik hizmetler için genellikle farklı ödeme
                                      seçenekleri sunulmaktadır. Ödeme yöntemleri genellikle sözleşme
                                      şartlarına, hizmet türüne ve müşteri ile yapılan özel anlaşmalara bağlı
                                      olarak değişebilir. Tipik olarak, kabul edilen ödeme yöntemleri arasında
                                      banka transferleri, kredi kartları veya belirli bir süre zarfında
                                      yapılan düzenli ödemeler bulunabilir. Detaylı bilgi için doğrudan KLC
                                      Lojistik ile iletişime geçmeniz önerilir, böylece size özel ödeme
                                      seçenekleri hakkında tam bilgi alabilirsiniz.</p>
                              </div>
                          </div>
                      </li>
                      <!-- End Faq One Single-->

                      <!-- Start Faq One Single-->
                      <li class="accrodion">
                          <div class="accrodion-title">
                              <h2><span>02.</span> Gönderilerimi nasıl takip edebilirim? </h2>
                          </div>
                          <div class="accrodion-content">
                              <div class="inner">
                                  <span>Cevabımız:</span>
                                  <p>1-) Online Takip Sistemi: KLC Lojistik'in resmi web sitesi üzerinden veya
                                      müşteri portalı aracılığıyla gönderi takip numaranızı girerek güncel
                                      durumu takip edebilirsiniz.
                                      <br> <br>
                                      2-) Müşteri Hizmetleri İle İletişim: KLC Lojistik müşteri hizmetleri ile
                                      iletişim kurarak gönderinizin güncel durumu hakkında bilgi
                                      alabilirsiniz. Müşteri hizmetleri genellikle telefon, e-posta veya canlı
                                      sohbet yoluyla erişilebilir.
                                      <br> <br>
                                      3-) Mobil Uygulamalar: KLC Lojistik'in sunduğu mobil uygulamalar
                                      aracılığıyla gönderi takibi yapabilirsiniz. Bu uygulamalar genellikle
                                      mobil cihazlar için optimize edilmiş ve kullanıcı dostu arayüzler sunar.
                                  </p>
                              </div>
                          </div>
                      </li>
                      <!-- End Faq One Single-->

                      <!-- Start Faq One Single-->
                      <li class="accrodion">
                          <div class="accrodion-title">
                              <h2><span>03.</span> Sipariş verirken teslim tarihi belirtebilir miyim?</h2>
                          </div>
                          <div class="accrodion-content">
                              <div class="inner">
                                  <span>Cevabımız:</span>
                                  <p>Sipariş verirken teslim tarihini belirleme konusunda aşağıdaki adımları
                                      takip edebilirsiniz:
                                      <br> <br>
                                      Sipariş Oluşturma Aşamasında Belirtme: Siparişinizi oluştururken,
                                      genellikle bir teslimat tarihi seçeneği bulunacaktır. Bu alanda
                                      istediğiniz teslimat tarihini belirleyebilirsiniz.
                                      <br> <br>
                                      Müşteri Hizmetleri İle İletişim: Siparişinizi oluşturduktan sonra,
                                      lojistik şirketin müşteri hizmetleriyle iletişim kurarak teslimat
                                      tarihinizi doğrulayabilir ve gerektiğinde ayarlamalar yapabilirsiniz.
                                      <br> <br>
                                      Online Takip Sistemi: Lojistik şirketin sunduğu online takip
                                      sistemlerini kullanarak, siparişinizin güncel durumunu ve tahmini
                                      teslimat tarihini kontrol edebilirsiniz.
                                      <br> <br>
                                      Ancak, lojistik süreçlerde çeşitli faktörlerin etkisi altında olduğunu
                                      unutmamak önemlidir. Hava koşulları, taşıma güzergahı, gümrük işlemleri
                                      gibi etkenler teslimat tarihini etkileyebilir. Bu nedenle, mümkün olan
                                      en erken aşamada teslimat tarihini belirlemek ve lojistik şirketi ile
                                      düzenli iletişimde olmak faydalı olacaktır.
                                  </p>
                              </div>
                          </div>
                      </li>
                      <!-- End Faq One Single-->
                  </ul>
              </div>
          </div>
          <!--End Faq Three Faq-->

      </div>
  </div>
</section>
