<section class="project-three">
  <div class="container">
      <div class="project-three__top">
          <div class="sec-title-style3">
              <div class="sub-title">
                  <div class="icon">
                      <img src="assets/img/icon/title-marker-4.png" alt="">
                  </div>
                  <h5>Son Projelerimiz</h5>
              </div>
              <h2>Dünya Çapında Taşımacılık</h2>
          </div>

          <div class="btn-box">
              <a class="thm-btn" href="#">
                  <span class="txt">Projelerimiz</span>
              </a>
          </div>
      </div>


      <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 50,
      "slidesPerView": 3,
      "loop": true,
      "speed": 1400,
      "pagination": {
          "el": "#project-three__pagination",
          "type": "bullets",
          "clickable": true
          },
      "navigation": {
          "nextEl": "#team-one__swiper-button-next",
          "prevEl": "#team-one__swiper-button-prev"
      },
      "autoplay": { "delay": 5000 },
      "breakpoints": {
          "0": {
              "spaceBetween": 24,
              "slidesPerView": 1
          },
          "375": {
              "spaceBetween": 24,
              "slidesPerView": 1
          },
          "575": {
              "spaceBetween": 24,
              "slidesPerView": 1
          },
          "768": {
              "spaceBetween": 24,
              "slidesPerView": 1
          },
          "992": {
              "spaceBetween": 24,
              "slidesPerView": 1
          },
          "1200": {
              "spaceBetween": 24,
              "slidesPerView": 1
          }
      }
  }'>
          <div class="swiper-wrapper">

              <div class="swiper-slide">
                  <!--Start Project Three Single-->
                  <div class="project-three__single">
                      <div class="project-three__single-img">
                          <div class="inner">
                              <img src="assets/img/project/project-v3-img1.jpg" alt="">
                              <div class="overlay-content">
                                  <div class="overlay-icon"><span class="icon-road-transport"></span></div>
                                  <div class="icon-box">
                                      <a href="project-details.html"><span
                                              class="icon-right-arrow-5"></span></a>
                                  </div>
                                  <div class="text-box">
                                      <p>Lojistik</p>
                                      <h2><a href="project-details.html">Mikro Taşımacılık Çözümlerimiz</a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Project Three Single-->
              </div>

              <div class="swiper-slide">
                  <!--Start Project Three Single-->
                  <div class="project-three__single">
                      <div class="project-three__single-img">
                          <div class="inner">
                              <img src="assets/img/project/project-v3-img2.jpg" alt="">
                              <div class="overlay-content">
                                  <div class="overlay-icon"><span class="icon-road-transport"></span></div>
                                  <div class="icon-box">
                                      <a href="project-details.html"><span
                                              class="icon-right-arrow-5"></span></a>
                                  </div>
                                  <div class="text-box">
                                      <p>Lojistik & Depolama</p>
                                      <h2><a href="project-details.html">Franchise Taşımacılık
                                              Çözümlerimiz</a></h2>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Project Three Single-->
              </div>

              <div class="swiper-slide">
                  <!--Start Project Three Single-->
                  <div class="project-three__single">
                      <div class="project-three__single-img">
                          <div class="inner">
                              <img src="assets/img/project/project-v3-img3.jpg" alt="">
                              <div class="overlay-content">
                                  <div class="overlay-icon"><span class="icon-road-transport"></span></div>
                                  <div class="icon-box">
                                      <a href="project-details.html"><span
                                              class="icon-right-arrow-5"></span></a>
                                  </div>
                                  <div class="text-box">
                                      <p>Lojistik & Depolama</p>
                                      <h2><a href="project-details.html">Parsiyel Taşımacılık Çözümlerimiz</a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Project Three Single-->
              </div>

              <div class="swiper-slide">
                  <!--Start Project Three Single-->
                  <div class="project-three__single">
                      <div class="project-three__single-img">
                          <div class="inner">
                              <img src="assets/img/project/project-v3-img4.jpg" alt="">
                              <div class="overlay-content">
                                  <div class="overlay-icon"><span class="icon-road-transport"></span></div>
                                  <div class="icon-box">
                                      <a href="project-details.html"><span
                                              class="icon-right-arrow-5"></span></a>
                                  </div>
                                  <div class="text-box">
                                      <p>Lojistik & Depolama</p>
                                      <h2><a href="project-details.html">Proje Taşımacılık Çözümlerimiz</a>
                                      </h2>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Project Three Single-->
              </div>

          </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-pagination" id="project-three__pagination"></div>
  </div>
</section>
