<section class="why-choose-two">
  <div class="container">
      <div class="row">
          <!--Start Why Choose Two Content-->
          <div class="col-xl-6">
              <div class="why-choose-two__content">
                  <div class="sec-title-style3">
                      <div class="sub-title">
                          <div class="icon">
                              <img src="assets/img/icon/title-marker-4.png" alt="">
                          </div>
                          <h5> NEDEN BİZ? </h5>
                      </div>
                      <h2>Kaliteli, Güvenilir ve Yenilikçi Hizmeti Sunuyoruz.</h2>
                  </div>
                  <div class="why-choose-two__content-text">
                      <p>KLC Lojistik, kaliteli hizmet anlayışını benimseyerek müşterilerine çözüm odaklı,
                          güvenilir ve etkili lojistik hizmetler sunmaktadır. İleri teknolojiyle desteklenen
                          profesyonel ekibimiz, iş süreçlerinizi optimize ederek kalite standartlarınızı
                          karşılamak için elinden gelenin en iyisini yapmaktadır.</p>
                  </div>

                  <div class="why-choose-two__progress">
                      <div class="why-choose-two__progress-single">
                          <div class="title">
                              <h4>Başarı Oranı %90</h4>
                          </div>
                          <div class="bar">
                              <div class="bar-inner count-bar" data-percent="90%">
                                  <div class="count-text">90%</div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="btn-box">
                      <a href="#">İletişim<span class="icon-right-arrow-5"></span></a>
                  </div>
              </div>
          </div>
          <!--End Why Choose Two Content-->

          <!--Start Why Choose Two Counter-->
          <div class="col-xl-6">
              <div class="why-choose-two__counter">
                  <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInLeft" data-wow-delay=".1s">
                          <div class="why-choose-two__counter-single">
                              <div class="text-box">
                                  <h2 class="count">
                                      <span class="odometer" data-count="35"></span>
                                      <span class="plus">+</span>
                                  </h2>
                                  <div class="text">
                                      <p>Yıllık Tecrübe ve Deneyim</p>
                                  </div>
                              </div>

                              <div class="icon-box">
                                  <span class="icon-experience"></span>
                              </div>
                          </div>
                      </div>

                      <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay=".3s">
                          <div class="why-choose-two__counter-single">
                              <div class="text-box">
                                  <h2 class="count">
                                      <span class="odometer" data-count="250"></span>k
                                      <span class="plus">+</span>
                                  </h2>
                                  <div class="text">
                                      <p>Teslim Edilen Paket</p>
                                  </div>
                              </div>

                              <div class="icon-box">
                                  <span class="icon-shipped1"></span>
                              </div>
                          </div>
                      </div>

                      <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay=".1s">
                          <div class="why-choose-two__counter-single">
                              <div class="text-box">
                                  <h2 class="count">
                                      <span class="odometer" data-count="365"></span>
                                      <span class="plus">+</span>
                                  </h2>
                                  <div class="text">
                                      <p>Araç Sayımız</p>
                                  </div>
                              </div>

                              <div class="icon-box">
                                  <span class="icon-road-transport t5"></span>
                              </div>
                          </div>
                      </div>

                      <div class="col-xl-6 col-lg-6 col-md-6 wow fadeInRight" data-wow-delay=".3s">
                          <div class="why-choose-two__counter-single">
                              <div class="text-box">
                                  <h2 class="count">
                                      <span class="odometer" data-count="1.2"></span>k
                                      <span class="plus">+</span>
                                  </h2>
                                  <div class="text">
                                      <p>Memnun Müşteriler</p>
                                  </div>
                              </div>

                              <div class="icon-box">
                                  <span class="icon-support"></span>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--End Why Choose Two Counter-->
      </div>
  </div>
</section>
