<section class="about-three">
  <div class="container">
      <div class="row">
          <!--Start About Three Img-->
          <div class="col-xl-6">
              <div class="about-three__img">
                  <div class="shape1"><img src="assets/img/shape/about-v3-shape1.png" alt=""></div>
                  <div class="about-three__img1 wow fadeInLeft" data-wow-delay=".1s">
                      <img src="assets/img/about/about-v3-img1.jpg" alt="">
                  </div>
                  <div class="about-three__img2 wow fadeInRight" data-wow-delay=".1s">
                      <img src="assets/img/about/about-v3-img2.jpg" alt="">
                  </div>
                  <div class="about-three__img-icon-box">
                      <div class="round-text">
                          <div class="curved-circle-3 rotate-me">
                              KLC LOGISTICS COMPANY - Since 2023 -
                          </div>
                      </div>
                      <div class="icon">
                          <img src="assets/img/icon/about-v3-icon1.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
          <!--End About Three Img-->

          <!--Start About Three Content-->
          <div class="col-xl-6">
              <div class="about-three__content">
                  <div class="sec-title-style3">
                      <div class="sub-title">
                          <div class="icon">
                              <img src="assets/img/icon/title-marker-4.png" alt="">
                          </div>
                          <h5>KLC LOGISTICS & WAREHOUSING COMPANY</h5>
                      </div>
                      <h2>Dijital, Yenilikçi ve Güvenilir
                          Lojistik ve Depolama Şirketi</h2>
                  </div>
                  <div class="about-three__content-text">
                      <p>2023 yılında kurulan KLC, Türkiye’nin en saygın uluslararası nakliye
                          firmalarından biri haline geldi.Her zaman motive, uzman ve kalifiye kadromuzla,
                          müşteri kargolarının deniz, hava ve kara taşımacılığı hizmetleri ile güvenli ve
                          zamanında hareket etmesine olan bağlılığımız, kuruluşumuzdan bu yana
                          şirketimizin temellerini oluşturmuştur. </p>
                  </div>

                  <ul class="about-three__content-list">
                      <li>
                          <div class="icon-box">
                              <span class="icon-global-network"></span>
                          </div>

                          <div class="text-box">
                              <h3>Dünya Çapında Hızlı Teslimat</h3>
                              <p>Çözüm Ortaklarına Hedef Odaklı, Rekabetçi Ve Yenilikçi Lojistik
                                  Çözümler...</p>
                          </div>
                      </li>

                      <li>
                          <div class="icon-box">
                              <span class="icon-enter-product-details"></span>
                          </div>

                          <div class="text-box">
                              <h3>Emniyetli ve Güvenli Teslimat</h3>
                              <p>İş yapma kültürümüzü dürüstlük ve ticari ahlak kurallarıyla uyumlu
                                  bir şekilde şekillendiriyoruz. Mevcut sistem ve süreçlerimizi
                                  teknolojideki ilerlemelerle sürekli güncelleyerek, müşterilerimize
                                  inovatif çözümler sunmaya devam ediyoruz.</p>
                          </div>
                      </li>
                  </ul>

                  <div class="about-three__content-bottom">
                      <div class="btn-box">
                          <a class="thm-btn" href="about.html">
                              <span class="txt">Hakkımızda Daha Fazla Bilgi Edinin</span>
                          </a>
                      </div>

                      <div class="author-box">
                          <div class="img-box">
                              <img src="assets/img/about/about-v2-img4-.jpg" alt="">
                          </div>

                          <div class="text-box">
                              <p>Yardıma mı ihtiyacınız var?</p>
                              <h3><a href="tel:123456789">0 505 440 17 06</a></h3>

                          </div>
                      </div>
                  </div>

              </div>
          </div>
          <!--End About Three Content-->
      </div>
  </div>
</section>
