<section class="blog-two blog-two--three">
  <div class="blog-two--three__bg" style="background-image: url(assets/img/background/blog-v3-bg.jpg);"></div>
  <div class="container">
      <div class="sec-title-style3 text-center">
          <div class="sub-title center">
              <div class="icon">
                  <img src="assets/img/icon/title-marker-2.png" alt="">
              </div>
              <h5>SON YAZILARIMIZ</h5>
          </div>
          <h2>En Son Haberleri Alın</h2>
      </div>

      <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 50,
      "slidesPerView": 3,
      "loop": true,
      "pagination": {
          "el": "#blog-two--three__pagination",
          "type": "bullets",
          "clickable": true
          },
      "navigation": {
          "nextEl": "#team-one__swiper-button-next",
          "prevEl": "#team-one__swiper-button-prev"
      },
      "autoplay": { "delay": 5000 },
      "breakpoints": {
          "0": {
              "spaceBetween": 30,
              "slidesPerView": 1
          },
          "375": {
              "spaceBetween": 30,
              "slidesPerView": 1
          },
          "575": {
              "spaceBetween": 30,
              "slidesPerView": 1
          },
          "768": {
              "spaceBetween": 30,
              "slidesPerView": 2
          },
          "992": {
              "spaceBetween": 30,
              "slidesPerView": 3
          },
          "1200": {
              "spaceBetween": 24,
              "slidesPerView": 3
          }
      }
  }'>
          <div class="swiper-wrapper">

              <div class="swiper-slide">
                  <!--Start Blog Two Single-->
                  <div class="blog-two__single">
                      <div class="blog-two__single-img">
                          <div class="overlay-img__outer">
                              <div class="name">
                                  <p>Sistem Admini</p>
                              </div>
                              <div class="overlay-img">
                                  <img src="assets/img/blog/blog-v3-img4.jpg" alt="#">
                              </div>
                          </div>
                          <div class="inner">
                              <img src="assets/img/blog/blog-v3-img1.jpg" alt="#">
                          </div>
                      </div>

                      <div class="blog-two__single-content">
                          <h2><a href="blog-details.html">Depolama Stratejileri: Ürün Güvenliği ve Verimlilik
                                  <br> İçin En İyi Yaklaşımlar</a>
                          </h2>
                          <ul class="meta-box">
                              <li><a href="#">Bu blog yazısında, modern depolama stratejileri ve teknolojik
                                      yeniliklerle nasıl daha güvenli ve verimli bir...</a></li>
                              <li>-</li>
                              <li>Kasım 13, 2023</li>
                          </ul>

                          <div class="btn-box">
                              <a href="blog-details.html">Devamını Oku <span
                                      class="icon-right-arrow-5"></span></a>
                          </div>
                      </div>
                  </div>
                  <!--End Blog Two Single-->
              </div>

              <div class="swiper-slide">
                  <!--Start Blog Two Single-->
                  <div class="blog-two__single">
                      <div class="blog-two__single-img">
                          <div class="overlay-img__outer">
                              <div class="name">
                                  <p>Admin</p>
                              </div>
                              <div class="overlay-img">
                                  <img src="assets/img/blog/blog-v3-img5.jpg" alt="#">
                              </div>
                          </div>
                          <div class="inner">
                              <img src="assets/img/blog/blog-v3-img2.jpg" alt="#">
                          </div>
                      </div>

                      <div class="blog-two__single-content">
                          <h2><a href="blog-details.html">Sürdürülebilir Taşımacılık: Çevre Dostu <br>
                                  Lojistik Çözümleri</a></h2>
                          <ul class="meta-box">
                              <li><a href="#">Bu yazıda, taşımacılık hizmetlerinde sürdürülebilirlik odaklı
                                      çözümler ve çevre dostu uygulamalar hakkında bilgi vererek...</a></li>
                              <li>-</li>
                              <li>Kasım 13, 2023</li>
                          </ul>

                          <div class="btn-box">
                              <a href="blog-details.html">Devamını Oku <span class="icon-right-arrow-5"></span>
                                      <span class="icon-right-arrow-5"></span></a>
                          </div>
                      </div>
                  </div>
                  <!--End Blog Two Single-->
              </div>

              <div class="swiper-slide">
                  <!--Start Blog Two Single-->
                  <div class="blog-two__single">
                      <div class="blog-two__single-img">
                          <div class="overlay-img__outer">
                              <div class="name">
                                  <p>Admin</p>
                              </div>
                              <div class="overlay-img">
                                  <img src="assets/img/blog/blog-v3-img6.jpg" alt="#">
                              </div>
                          </div>
                          <div class="inner">
                              <img src="assets/img/blog/blog-v3-img3.jpg" alt="#">
                          </div>
                      </div>

                      <div class="blog-two__single-content">
                          <h2><a href="blog-details.html">Dağıtım Stratejileri: Hızlı ve <br> Etkili Dağıtım
                                  İçin İpuçlar</a>
                          </h2>
                          <ul class="meta-box">
                              <li><a href="#">Bu blog yazısı, etkili bir dağıtım süreci oluşturmak için
                                      gelişmiş stratejiler ve en iyi uygulamalar hakkında rehberlik
                                      sunabilir...</a></li>
                              <li>-</li>
                              <li>November 13, 2023</li>
                          </ul>

                          <div class="btn-box">
                              <a href="blog-details.html">Devamını Oku <span
                                      class="icon-right-arrow-5"></span></a>
                          </div>
                      </div>
                  </div>
                  <!--End Blog Two Single-->
              </div>

              <div class="swiper-slide">
                  <!--Start Blog Two Single-->
                  <div class="blog-two__single">
                      <div class="blog-two__single-img">
                          <div class="overlay-img__outer">
                              <div class="name">
                                  <p>Harley Russle</p>
                              </div>
                              <div class="overlay-img">
                                  <img src="assets/img/blog/blog-v3-img5.jpg" alt="#">
                              </div>
                          </div>
                          <div class="inner">
                              <img src="assets/img/blog/blog-v3-img2.jpg" alt="#">
                          </div>
                      </div>

                      <div class="blog-two__single-content">
                          <h2><a href="blog-details.html">Küresel Taşımacılık ve Lojistik: Zorlukları <br>
                                  Aşmak İçin Stratejiler</a></h2>
                          <ul class="meta-box">
                              <li><a href="#">Bu blog yazısı, küresel taşımacılık ve lojistik süreçlerinin
                                      karşılaştığı zorluklar üzerinde durarak, bu zorlukların
                                      üstesinden...</a></li>
                              <li>-</li>
                              <li>Kasım 13, 2023</li>
                          </ul>

                          <div class="btn-box">
                              <a href="blog-details.html">Devamını Oku <span
                                      class="icon-right-arrow-5"></span></a>
                          </div>
                      </div>
                  </div>
                  <!--End Blog Two Single-->
              </div>
          </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-pagination" id="blog-two--three__pagination"></div>
  </div>
</section>
