<section class="services-three">
  <div class="services-three__bg" style="background-image: url(assets/img/background/services-v3-bg.jpg);">
  </div>
  <div class="container">
      <div class="services-three__top">
          <div class="sec-title-style3">
              <div class="sub-title">
                  <div class="icon">
                      <img src="assets/img/icon/title-marker.png" alt="">
                  </div>
                  <h5>Hizmetlerimiz</h5>
              </div>
              <h2>Hızlı ve Profesyonel <br>
                  Lojistik Hizmetler</h2>
          </div>

          <div class="btn-box">
              <a class="thm-btn" href="#">
                  <span class="txt">Tüm Hizmetlerimizi İnceleyin</span>
              </a>
          </div>
      </div>

      <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 50,
      "slidesPerView": 4,
      "loop": true,
      "pagination": {
          "el": "#services-three__pagination",
          "type": "bullets",
          "clickable": true
          },
      "navigation": {
          "nextEl": "#team-one__swiper-button-next",
          "prevEl": "#team-one__swiper-button-prev"
      },
      "autoplay": { "delay": 5000 },
      "breakpoints": {
          "0": {
              "spaceBetween": 24,
              "slidesPerView": 1
          },
          "375": {
              "spaceBetween": 24,
              "slidesPerView": 1
          },
          "575": {
              "spaceBetween": 24,
              "slidesPerView": 1
          },
          "768": {
              "spaceBetween": 24,
              "slidesPerView": 2
          },
          "992": {
              "spaceBetween": 24,
              "slidesPerView": 3
          },
          "1200": {
              "spaceBetween": 24,
              "slidesPerView": 3
          }
      }
  }'>
          <div class="swiper-wrapper">

              <div class="swiper-slide">
                  <!--Start Services Three Single-->
                  <div class="services-three__single">
                      <div class="services-three__single-img">
                          <div class="inner">
                              <img src="assets/img/service/service-v3-img1.jpg" alt="">
                              <div class="icon-box">
                                  <span class="icon-road-transport t5"></span>
                              </div>
                          </div>
                      </div>

                      <div class="services-three__single-content">
                          <div class="services-three__single-content-inner">
                              <h2><a href="road-transport.html">Karayolu Taşımacılığı</a></h2>
                              <p>Entegre karayolu taşımacılığı, Türkiye'deki limanlarda geniş bir şekilde
                                  sunulur.
                                  KLC, Türkiye genelinde full ve parsiyel yük taşımacılığında tek elden hizmet
                                  verir.</p>
                              <div class="count-box">
                                  01
                              </div>
                              <div class="btn-box">
                                  <a href="road-transport.html">İncele <i class="icon-right-arrow-5"></i></a>

                                  <div class="number-box">
                                      01
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Services Three Single-->
              </div>

              <div class="swiper-slide">
                  <!--Start Services Three Single-->
                  <div class="services-three__single">
                      <div class="services-three__single-img">
                          <div class="inner">
                              <img src="assets/img/service/service-v3-img2.jpg" alt="">
                              <div class="icon-box">
                                  <span class="icon-ocean-freight1"></span>
                              </div>
                          </div>
                      </div>

                      <div class="services-three__single-content">
                          <div class="services-three__single-content-inner">
                              <h2><a href="road-transport.html">Denizyolu Taşımacılığı</a></h2>
                              <p>Konteyner kargo uzmanlığıyla, parsiyel (LCL) ve tam konteyner yükü (FCL)
                                  deniz
                                  taşımacılığı sunuyoruz.</p>
                              <div class="count-box">
                                  02
                              </div>
                              <div class="btn-box">
                                  <a href="road-transport.html">İncele <i class="icon-right-arrow-5"></i></a>

                                  <div class="number-box">
                                      02
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Services Three Single-->
              </div>
              <div class="swiper-slide">
                  <!--Start Services Three Single-->
                  <div class="services-three__single">
                      <div class="services-three__single-img">
                          <div class="inner">
                              <img src="assets/img/service/service-v3-img4.jpg" alt="">
                              <div class="icon-box">
                                  <span class="icon-experience"></span>
                              </div>
                          </div>
                      </div>

                      <div class="services-three__single-content">
                          <div class="services-three__single-content-inner">
                              <h2><a href="road-transport.html">Havayolu Taşımacılığı</a></h2>
                              <p>Kritik önem taşıyan gönderileri karşılamak için özelleştirilmiş hava
                                  taşımacılığı
                                  hizmetleri sunuyoruz.</p>
                              <div class="count-box">
                                  03
                              </div>
                              <div class="btn-box">
                                  <a href="road-transport.html">İncele <i class="icon-right-arrow-5"></i></a>

                                  <div class="number-box">
                                      03
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Services Three Single-->
              </div>

              <div class="swiper-slide">
                  <!--Start Services Three Single-->
                  <div class="services-three__single">
                      <div class="services-three__single-img">
                          <div class="inner">
                              <img src="assets/img/service/service-v3-img3.jpg" alt="">
                              <div class="icon-box">
                                  <span class="icon-experience"></span>
                              </div>
                          </div>
                      </div>

                      <div class="services-three__single-content">
                          <div class="services-three__single-content-inner">
                              <h2><a href="road-transport.html">Depolama</a></h2>
                              <p>Modern depolama alanlarımız, güvenlik önlemleri ve profesyonel depo yönetimi
                                  ile müşterilerimizin depolama ihtiyaçlarını en iyi şekilde karşılamak için
                                  tasarlanmıştır.</p>
                              <div class="count-box">
                                  03
                              </div>
                              <div class="btn-box">
                                  <a href="road-transport.html"> İncele <i class="icon-right-arrow-5"></i></a>

                                  <div class="number-box">
                                      03
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End Services Three Single-->
              </div>
          </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-pagination" id="services-three__pagination"></div>
  </div>
</section>
