<section class="brand-one brand-one--two">
  <div class="big-title-box">partnerpartner</div>
  <div class="container">
      <div class="thm-swiper__slider swiper-container" data-swiper-options='{
          "spaceBetween": 100,
          "slidesPerView": 5,
          "autoplay": { "delay": 1000 },
          "breakpoints": {
                          "0": {
                              "spaceBetween": 30,
                              "slidesPerView": 1
                          },
                          "375": {
                              "spaceBetween": 30,
                              "slidesPerView": 1
                          },
                          "575": {
                              "spaceBetween": 30,
                              "slidesPerView": 2
                          },
                          "767": {
                              "spaceBetween": 30,
                              "slidesPerView": 3
                          },
                          "991": {
                              "spaceBetween": 30,
                              "slidesPerView": 4
                          },
                          "1199": {
                              "spaceBetween": 30,
                              "slidesPerView": 5
                          }
                      }}'>
          <div class="swiper-wrapper">

              <div class="swiper-slide">
                  <div class="img-box">
                      <img src="assets/img/brand/brand-v2-img1.png" alt="#">
                  </div>

                  <div class="img-box2">
                      <img src="assets/img/brand/brand-v2-img1.png" alt="#">
                  </div>
              </div>

              <div class="swiper-slide">
                  <div class="img-box">
                      <img src="assets/img/brand/brand-v2-img2.png" alt="#">
                  </div>

                  <div class="img-box2">
                      <img src="assets/img/brand/brand-v2-img2.png" alt="#">
                  </div>
              </div>

              <div class="swiper-slide">
                  <div class="img-box">
                      <img src="assets/img/brand/brand-v2-img3.png" alt="#">
                  </div>

                  <div class="img-box2">
                      <img src="assets/img/brand/brand-v2-img3.png" alt="#">
                  </div>
              </div>

              <div class="swiper-slide">
                  <div class="img-box">
                      <img src="assets/img/brand/brand-v2-img4.png" alt="#">
                  </div>

                  <div class="img-box2">
                      <img src="assets/img/brand/brand-v2-img4.png" alt="#">
                  </div>
              </div>

              <div class="swiper-slide">
                  <div class="img-box">
                      <img src="assets/img/brand/brand-v2-img5.png" alt="#">
                  </div>

                  <div class="img-box2">
                      <img src="assets/img/brand/brand-v2-img5.png" alt="#">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="cta-two style3">
  <div class="container">
      <div class="cta-two__inner">
          <div class="shape1"><img src="assets/img/shape/cta-v3-shape1.png" alt=""></div>
          <div class="shape2"><img src="assets/img/shape/cta-v3-shape2.png" alt=""></div>
          <div class="shape3 float-bob-x"><img src="assets/img/shape/cta-v3-shape3.png" alt=""></div>
          <div class="cta-two__inner-box">
              <div class="sec-title-style3">
                  <div class="sub-title">
                      <div class="icon">
                          <img src="assets/img/icon/title-marker-3.png" alt="">
                      </div>
                      <h5>İletişime Geçin</h5>
                  </div>
                  <h2>
                      Kaliteli Hizmeti İçin, Bizimle İstediğiniz Zaman İletişime Geçebilirsiniz.</h2>
              </div>

              <div class="btn-box">
                  <a class="thm-btn" href="#">
                      <span class="txt">İletişim</span>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
