<section class="main-slider main-slider-three">
  <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true, "effect": "fade", "pagination": {
  "el": "#main-slider-pagination",
  "type": "bullets",
  "clickable": true
  },
  "navigation": {
  "nextEl": "#main-slider__swiper-button-next",
  "prevEl": "#main-slider__swiper-button-prev"
  },
  "autoplay": {
  "delay": 7000
  }}'>

      <div class="swiper-wrapper">

          <!--Start Swiper Slide Single-->
          <div class="swiper-slide">
              <div class="image-layer" style="background-image: url(assets/img/slider/slider-v3-img1.jpg);">
              </div>

              <div class="container">
                  <div class="main-slider-three__single">
                      <div class="shape1"><img src="assets/img/shape/slider-v3-shape1.png" alt=""></div>
                      <div class="main-slider-three__content text-center">
                          <div class="tagline-box">
                              <div class="icon">
                                  <img src="assets/img/icon/title-marker.png" alt="">
                              </div>
                              <div class="text">
                                  <p>Siz isteyin biz gerçekleştirelim.</p>
                              </div>
                          </div>

                          <div class="title-box">
                              <h2><span>Hızlı ve Güvenli</span><br>Ulaşım</h2>
                          </div>

                          <div class="btn-box">
                              <a class="thm-btn" href="#">
                                  <span class="txt">Daha Fazlasını Keşfedin</span>
                              </a>
                          </div>

                      </div>
                      <div class="bottom-text-box">
                          <div class="border"></div>
                          <div class="text">
                              <p>KLC Logistics & Warehousing</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--End Swiper Slide Single-->

          <!--Start Swiper Slide Single-->
          <div class="swiper-slide">
              <div class="image-layer" style="background-image: url(assets/img/slider/slider-v3-img2.jpg);">
              </div>

              <div class="container">
                  <div class="main-slider-three__single">
                      <div class="shape1"><img src="assets/img/shape/slider-v3-shape1.png" alt=""></div>
                      <div class="main-slider-three__content text-center">
                          <div class="tagline-box">
                              <div class="icon">
                                  <img src="assets/img/icon/title-marker.png" alt="">
                              </div>
                              <div class="text">
                                  <p>Esnek ve Daha Düşük Maliyetli Taşımacılık</p>
                              </div>
                          </div>

                          <div class="title-box">
                              <h2><span>KLC Lojistik,</span>dağıtım maliyetlerini <br> düşürür.</h2>
                          </div>

                          <div class="btn-box">
                              <a class="thm-btn" href="#">
                                  <span class="txt">Daha Fazlasını Keşfedin</span>
                              </a>
                          </div>

                      </div>
                      <div class="bottom-text-box">
                          <div class="border"></div>
                          <div class="text">
                              <p>KLC Logistics & Warehousing</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!--End Swiper Slide Single-->

      </div>

      <!-- If we need navigation buttons -->
      <div class="swiper-pagination" id="main-slider-pagination"></div>

      <div class="main-slider__nav">
          <div class="swiper-button-prev" id="main-slider__swiper-button-next">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
          </div>
          <div class="swiper-button-next" id="main-slider__swiper-button-prev">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
      </div>
  </div>
</section>
